/* Name: Santosh Khanal, Student ID:16418522 */

section{
    color:black;
    font-weight: bold;
    font-size: 1em;
    background-color: #80a5c2;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 0% 12% 0% 12%;
    padding: 3% 0%;
}
 .contact1 fieldset{
    width: 55%;
    background-color:  #F9F9F9;
    border:0.0625em solid  #034c2e;
    padding: 1.25em 0.625em 1.875em 0.625em;
    border-radius: 0.9375em;
    box-shadow:0.25em 0.25em  0 0.1875em brown;

}
.contact1 h2{ text-align: center; color: yellow; background-color: brown; }
.contact1 p{ width: 11.875em; margin:0.375em;}
.fieldset{
    display: flex;
    flex-direction: row;
}
input, textarea{ margin:0.375em; }
textarea{ width: 60%; height:5em; }
.submit{
    margin-left: 45%;
    margin-top: 5%;
    background-color: lightgray; 
    padding:1.5%;
    border: 0 solid black;
    border-radius: 0.25em;
}
.submit:hover{box-shadow:0.1875em 0.125em black;}

.contact2 fieldset{
    width: 45%;
    background-color: #F9F9F9;
    border:0.0625em solid  #034c2e;
    padding: 1.25em 4.375em 6.75em 0.625em;
    margin-left: 30%;
    border-radius: 0.9375em;
    box-shadow:0.25em 0.25em 0 0.1875em brown;
}
.contact2 h2{ text-align: center; color: yellow; background-color: brown; }
.contact2 li{ width: 6.25em; }
.contact2 ul li { list-style-type: none; }


