/* Name: Santosh Khanal, Student ID:16418522 */

@import url("https://fonts.googleapis.com/css?family=Lobster");

p{ font-size: 1.2em;
	font-weight: bold;
}
section{ font-size: 1.4em;	background-color: #80a5c2; }
h1{ font-size: 2em; }
h1, h2{ 
	font-family: 'Lobster', cursive;
	background-color: brown;
	color: black;
	text-align: center;
	text-shadow: 0.03em 0.05em yellow;
}
h1:hover, h2:hover{text-shadow: 0.07em 0.1em white;}
h4{ font-family: 'Lobster', cursive; padding-left:8%;}

.level{
	display: flex;
	flex-direction: column;
	margin: 0% 12% 0% 12%;
	padding:3% 0% 3% 0%;
}
.level img{
	width: 11em;
	height: 11em;
	margin: 4% 45% 4% 40%;
	border-radius: 50%;
	box-shadow: 0 0 2em yellowgreen;
	transition: -webkit-transform 2s; /* for safari*/
	transition: -o-transform 2s; /* for opera*/
	transition: -moz-transform 2s; /* for mozilla*/
	transition: transform 2s;  /* standard */
}
.level img:hover{
	transform: -webkit-scale(1.4, 1.4);
	transform: -o-scale(1.4, 1.4);
	transform: -moz-scale(1.4, 1.4);
	transform: scale(1.4, 1.4);
}


.level1, .level2, .level3{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 50%;
	margin-bottom: 12%;
}
.p-detail, .education, .strength{
	width: 60%;
	border:0.0125em solid black;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	border-radius: 1em;
	background: -webkit-linear-gradient(to right,lavender, #0cf, lavender);
	background: -o-linear-gradient(to right,lavender, #0cf, lavender);
	background: -moz-linear-gradient(to right,lavender, #0cf, lavender);
	background: linear-gradient(to right,lavender, #0cf, lavender);
	transition: width 2s, height 2s, transform 2s;
}
.p-detail ul, .strength ul, .synopsis ul{padding-left: 8%;}
.p-detail:hover, .strength:hover, .synopsis:hover{
 	box-shadow: 0.375em 0.375em 0.125em 0.125em black;
 	-webkit-transform:scale(1.2, 1.3);
 	-o-transform:scale(1.2, 1.3);
 	-moz-transform:scale(1.2, 1.3);
 	transform:scale(1.2, 1.3);
}

.c-detail, .synopsis, .skill{
	width: 40%;
	border:0.0125em solid black;
	margin-left: 8%; 
	padding-top: 2.5%;
	border-radius: 1em;
	background: -webkit-linear-gradient(to right,lavender, #0cf, lavender);
	background: -o-linear-gradient(to right,lavender, #0cf, lavender);
	background: -moz-linear-gradient(to right,lavender, #0cf, lavender);
	background: linear-gradient(to right,lavender, #0cf, lavender);
	transition: width 2s, height 2s, transform 2s;
}
.c-detail:hover, .education:hover, .skill:hover{ 
	box-shadow: 0.375em 0.375em 0.125em 0.125em black;
	-webkit-transform:scale(1.2, 1.3);
	-o-transform:scale(1.2, 1.3);
	-moz-transform:scale(1.2, 1.3);
	transform:scale(1.2, 1.3);
}
.c-detail ul, .education ul, .skill ul{padding-left: 10%;}
