/* Name: Santosh Khanal, Student ID:16418522 */

@import	url("https://fonts.googleapis.com/css?family=Lobster");
/* importing the google font*/ 
*{  margin: 0em;
	padding: 0em; }

body{ /* to make style in body*/
	background-color: white;
	margin:0em;
}
header{ /* style in header part*/
	display: flex; 
	flex-direction: column; /* here, flex shows the content in column*/
}
.top{
	display: flex;
	flex-direction: row; /*  here, flex shows the content in row*/
	background-color: #a0a235; /* it is the background color of logo and address*/
	padding-top: 0.3125em; /* adjusting the upper padding level */
}
.logo{
	width: 25%; /* horizontal distance of logo */
}
.logo img {
	padding-left: 25%; 
 	transform: rotate(-4deg); /* slightly rotating the logo*/
 }

.con{
	width: 75%; 
	text-align: right; /* to align the text*/
	padding-right: 1.25em;
}
address{
	font-size: 1.5625em;
	color: white;
}

.menu{
	background: cyan; /* for those browsers which do not suppoert gradient*/
	background: -webkit-linear-gradient(green, #0cf); /* for safari*/
	background: -o-linear-gradient(green, #0cf); /*  for opera*/
	background: -moz-linear-gradient(green, #0cf);  /* for mozilla*/
	background: linear-gradient(green, #0cf); /* created gradient in nav bar .i.e menu here */
	font-family: 'Lobster', cursive; /* writing the text in different font */
	line-height: 5em; /* adjusting the height of line */

}
header nav{
	display: flex;
	flex-direction: row; 
	justify-content: space-around; /*this will justify the content */
	font-size: 2.5em;
}

.menu a{ /* styles for the anchor */
	color: black;
	text-decoration: none; 
	display: block; 
	padding:0 2.99em; 
}
.menu a:hover{color: red; } /* style for the hover*/
.yellow{background-color: yellow;} 

.main-section{background-color: #80a5c2;
	color: black;}
.top-section{ /* styles for section part*/ 
	padding:3.125em 0;
	display: flex;
	flex-direction: row;
}
.section1 {width: 50%; padding-left: 2em; }
.section1 p{color:red;}
.p11{ font-size: 2.2em;}
.p12{font-size: 2.5em; text-indent: 1.8em;}
.p13{font-size: 3em; text-indent: 2.9em;}
.p11, .p12, .p13{ font-weight: bold; text-shadow: 0.25em 0.25em 0.125em black; }
.p11:hover, .p12:hover, .p13:hover{color:red;}
.section1 q{ color:black; font-size: 1.7em; }

.section2 {	width: 50%;}
.section2 img{ /* styles for image in the section part*/
	margin-left:20%;
	height: 31.25em;
	width: 25em;
}
.bottom-section{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding:2% 5%;
}
.section3, .section4, .section5{
	display: flex;
	flex-direction: row;
 	border: 0.0925em solid black;
	border-radius: 3%;
	width:12.5em;
	margin:1em;
	overflow: hidden;
}

.section3 img, .section4 img, .section5 img{ 
	height: 12.5em;
	width:12.5em;
}

.section31{
	background-color: lightyellow;
	opacity: .7;
	width:100%;
	height:100%;
	-webkit-transition: transform 2.5s; /* for safari*/
	-o-transition: transform 2.5s; /* for opera*/
	-moz-transition: transform 2.5s; /* for mozilla*/
	transition: transform 2.5s; /* standard*/
}
.section3:hover .section31, .section4:hover .section31, .section5:hover .section31{
	-webkit-transform: translateX(-12.5em);
	-o-transform: translateX(-12.5em);
	-moz-transform: translateX(-12.5em);
	transform: translateX(-12.5em);
}

.text{
	padding:36% 0% 0% 20%;
	width: 3.5em;
	font-size: 3em;
}
.text a{
	text-decoration: none;
	color: red;
}

footer{ /* styles for the footer part */
	display: flex;
	flex-direction: column;
	width: 100%;
	margin:0em;
	background-color: #a0a235;
	padding:0.625em 0;
}

.footer1{ /* style for the footer*/
	display: flex;
	flex-direction: row;
	padding-top: 0.625em;

}

.about{ /* style for about me part */
	width: 33.33%;
	text-align: center;
	font-size: 1.25em;
	margin-right: 3.125em;
	font-weight: bold;
	border-right: 0.0625em dotted yellow;
}
.about a{text-decoration: none; color: black;}
.about a:hover{ color:red;}

.social-sites ul{  /* this is the style for the social media icons */
	width: 33.33%;
	display: flex;
	flex-direction: row;
	margin-bottom: 0.625em;
}
.social-sites ul li a { margin-left: 0.5em; } 
.social-sites ul li a img{
	border: 0.000625em solid white ;
	border-radius: 50%;
	transition: -webkit-width 1s, height 1s, transform 2s;
	transition: -o-width 1s, height 1s, transform 2s;
	transition: -moz-width 1s, height 1s, transform 2s;
	transition: width 1s, height 1s, transform 2s;
} 
.social-sites ul li a img:hover{ box-shadow: 0 0 0.0625em 0.1875em lightblue; opacity: .9 ;transform:rotate(360deg);} /* transitional effect*/
.social-sites ul li{ list-style-type: none; }

.copyright{ /*styles for the copyright part */
	width: 33.33%;
	padding-left: 5em;
	border-left: 0.0625em dotted yellow;
	margin-left: 5em;
}
.copyright p{ font-size: 1em; } /* font size for the copyright text */
